<!DOCTYPE html>
<%#include "parkcoupon.h" %>
<% tfetch(ParkCoupon, parkCoupon); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Park Coupon</h1>
<dt>ID</dt><dd><%= parkCoupon.id() %></dd><br />
<dt>Coupon No</dt><dd><%= parkCoupon.couponNo() %></dd><br />
<dt>Check Code</dt><dd><%= parkCoupon.checkCode() %></dd><br />
<dt>Amount</dt><dd><%= parkCoupon.amount() %></dd><br />
<dt>Status</dt><dd><%= parkCoupon.status() %></dd><br />
<dt>Created at</dt><dd><%= parkCoupon.createdAt() %></dd><br />
<dt>Use Time</dt><dd><%= parkCoupon.useTime() %></dd><br />
<dt>Valid till</dt><dd><%= parkCoupon.validTill() %></dd><br />

<%== linkTo("Edit", urla("edit", parkCoupon.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
