<!DOCTYPE html>
<%#include "vehicles.h" %>
<% tfetch(QVariantMap, vehicles); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Vehicles</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Plate<br /><input name="vehicles[plate]" value="<%= vehicles["plate"] %>" /></label>
  </p>
  <p>
    <label>Engine No<br /><input name="vehicles[engineNo]" value="<%= vehicles["engineNo"] %>" /></label>
  </p>
  <p>
    <label>Frame No<br /><input name="vehicles[frameNo]" value="<%= vehicles["frameNo"] %>" /></label>
  </p>
  <p>
    <label>Register Time<br /><input name="vehicles[registerTime]" value="<%= vehicles["registerTime"] %>" /></label>
  </p>
  <p>
    <label>Vehicle Type<br /><input name="vehicles[vehicleType]" value="<%= vehicles["vehicleType"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
