<!DOCTYPE html>
<%#include "version.h" %>
<% tfetch(QVariantMap, version); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Version</h1>

<%== formTag(urla("save", version["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="version[id]" value="<%= version["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Appid<br /><input type="text" name="version[appid]" value="<%= version["appid"] %>" /></label>
  </p>
  <p>
    <label>Major Version<br /><input type="text" name="version[majorVersion]" value="<%= version["majorVersion"] %>" /></label>
  </p>
  <p>
    <label>Minor Version<br /><input type="text" name="version[minorVersion]" value="<%= version["minorVersion"] %>" /></label>
  </p>
  <p>
    <label>Revision<br /><input type="text" name="version[revision]" value="<%= version["revision"] %>" /></label>
  </p>
  <p>
    <label>Content<br /><input type="text" name="version[content]" value="<%= version["content"] %>" /></label>
  </p>
  <p>
    <label>Help<br /><input type="text" name="version[help]" value="<%= version["help"] %>" /></label>
  </p>
  <p>
    <label>Download Url<br /><input type="text" name="version[downloadUrl]" value="<%= version["downloadUrl"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", version["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
