<!DOCTYPE html>
<%#include "operators.h" %>
<% tfetch(QVariantMap, operators); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Operators</h1>

<%== formTag(urla("save", operators["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="operators[id]" value="<%= operators["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Name<br /><input type="text" name="operators[name]" value="<%= operators["name"] %>" /></label>
  </p>
  <p>
    <label>Code<br /><input type="text" name="operators[code]" value="<%= operators["code"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", operators["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
