<!DOCTYPE html>
<%#include "vehicle.h" %>
<% tfetch(QVariantMap, vehicle); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Vehicle</h1>

<%== formTag(urla("save", vehicle["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="vehicle[id]" value="<%= vehicle["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Plate<br /><input type="text" name="vehicle[plate]" value="<%= vehicle["plate"] %>" /></label>
  </p>
  <p>
    <label>Engine No<br /><input type="text" name="vehicle[engineNo]" value="<%= vehicle["engineNo"] %>" /></label>
  </p>
  <p>
    <label>Frame No<br /><input type="text" name="vehicle[frameNo]" value="<%= vehicle["frameNo"] %>" /></label>
  </p>
  <p>
    <label>Register Time<br /><input type="text" name="vehicle[registerTime]" value="<%= vehicle["registerTime"] %>" /></label>
  </p>
  <p>
    <label>Vehicle Type<br /><input type="text" name="vehicle[vehicleType]" value="<%= vehicle["vehicleType"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", vehicle["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
