<!DOCTYPE html>
<%#include "useraccout.h" %>
<% tfetch(QVariantMap, userAccout); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing User Accout</h1>

<%== formTag(urla("save", userAccout["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="userAccout[id]" value="<%= userAccout["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>User ID<br /><input type="text" name="userAccout[userId]" value="<%= userAccout["userId"] %>" /></label>
  </p>
  <p>
    <label>Account ID<br /><input type="text" name="userAccout[accountId]" value="<%= userAccout["accountId"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", userAccout["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
