<!DOCTYPE html>
<%#include "useraccout.h" %>
<% tfetch(QVariantMap, userAccout); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New User Accout</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>User ID<br /><input name="userAccout[userId]" value="<%= userAccout["userId"] %>" /></label>
  </p>
  <p>
    <label>Account ID<br /><input name="userAccout[accountId]" value="<%= userAccout["accountId"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
