<!DOCTYPE html>
<%#include "accounts.h" %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Accounts</h1>

<%== linkTo("New entry", urla("entry")) %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>ID</th>
    <th>Acc No</th>
    <th>User ID</th>
    <th>Pay Code</th>
    <th>Balance</th>
    <th>Credit</th>
    <th>Credit Available</th>
    <th>Status</th>
    <th>Type</th>
    <th>Issuer</th>
    <th>Memo</th>
  </tr>
<% tfetch(QList<Accounts>, accountsList); %>
<% for (const auto &i : accountsList) { %>
  <tr>
    <td><%= i.id() %></td>
    <td><%= i.accNo() %></td>
    <td><%= i.userId() %></td>
    <td><%= i.payCode() %></td>
    <td><%= i.balance() %></td>
    <td><%= i.credit() %></td>
    <td><%= i.creditAvailable() %></td>
    <td><%= i.status() %></td>
    <td><%= i.type() %></td>
    <td><%= i.issuer() %></td>
    <td><%= i.memo() %></td>
    <td>
      <%== linkTo("Show", urla("show", i.id())) %>
      <%== linkTo("Edit", urla("edit", i.id())) %>
      <%== linkTo("Remove", urla("remove", i.id()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
