<!DOCTYPE html>
<%#include "users.h" %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Users</h1>

<%== linkTo("New entry", urla("entry")) %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Code</th>
    <th>Real Name</th>
    <th>Sex</th>
    <th>Avatar</th>
  </tr>
<% tfetch(QList<Users>, usersList); %>
<% for (const auto &i : usersList) { %>
  <tr>
    <td><%= i.id() %></td>
    <td><%= i.name() %></td>
    <td><%= i.code() %></td>
    <td><%= i.realName() %></td>
    <td><%= i.sex() %></td>
    <td><%= i.avatar() %></td>
    <td>
      <%== linkTo("Show", urla("show", i.id())) %>
      <%== linkTo("Edit", urla("edit", i.id())) %>
      <%== linkTo("Remove", urla("remove", i.id()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
