<!DOCTYPE html>
<%#include "parkattendants.h" %>
<% tfetch(QVariantMap, parkAttendants); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Park Attendants</h1>

<%== formTag(urla("save", parkAttendants["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="parkAttendants[id]" value="<%= parkAttendants["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Name<br /><input type="text" name="parkAttendants[name]" value="<%= parkAttendants["name"] %>" /></label>
  </p>
  <p>
    <label>Code<br /><input type="text" name="parkAttendants[code]" value="<%= parkAttendants["code"] %>" /></label>
  </p>
  <p>
    <label>Real Name<br /><input type="text" name="parkAttendants[realName]" value="<%= parkAttendants["realName"] %>" /></label>
  </p>
  <p>
    <label>Sex<br /><input type="text" name="parkAttendants[sex]" value="<%= parkAttendants["sex"] %>" /></label>
  </p>
  <p>
    <label>Avatar<br /><input type="text" name="parkAttendants[avatar]" value="<%= parkAttendants["avatar"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", parkAttendants["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
