<!DOCTYPE html>
<%#include "parkingaccounts.h" %>
<% tfetch(QVariantMap, parkingAccounts); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Parking Accounts</h1>

<%== formTag(urla("save", parkingAccounts["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input type="text" name="parkingAccounts[id]" value="<%= parkingAccounts["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Acc No<br /><input type="text" name="parkingAccounts[accNo]" value="<%= parkingAccounts["accNo"] %>" /></label>
  </p>
  <p>
    <label>Balance<br /><input type="text" name="parkingAccounts[balance]" value="<%= parkingAccounts["balance"] %>" /></label>
  </p>
  <p>
    <label>Parking ID<br /><input type="text" name="parkingAccounts[parkingId]" value="<%= parkingAccounts["parkingId"] %>" /></label>
  </p>
  <p>
    <label>Status<br /><input type="text" name="parkingAccounts[status]" value="<%= parkingAccounts["status"] %>" /></label>
  </p>
  <p>
    <label>Type<br /><input type="text" name="parkingAccounts[type]" value="<%= parkingAccounts["type"] %>" /></label>
  </p>
  <p>
    <label>Issuer<br /><input type="text" name="parkingAccounts[issuer]" value="<%= parkingAccounts["issuer"] %>" /></label>
  </p>
  <p>
    <label>Memo<br /><input type="text" name="parkingAccounts[memo]" value="<%= parkingAccounts["memo"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", parkingAccounts["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
